#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 1rem;
}

@media screen and (width > 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.blockMainThreadButton {
  position: sticky;
  inset-block-end: 1rem;
  display: block;
  margin-block-start: 1rem;
  margin-inline: auto;
  min-width: 20ch;

  transition: opacity 0.2s ease-out;
}

.blockMainThreadButton[aria-busy="true"] {
  opacity: 0.75;
}

.attribution {
  text-align: center;
}
